In [1]:
#import dataset
import pandas as pd
import os

In [2]:
os.chdir("F:\\neel\\fingertips\\Deep Learning")

In [3]:
data=pd.read_csv('tele_customer_churn.csv')

In [4]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
data.drop('customerID',axis='columns',inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [7]:
data.TotalCharges.unique

<bound method Series.unique of 0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object>

In [8]:
#check null value
data.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [9]:
data[data['TotalCharges'] == " "]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

In [10]:
data[data['TotalCharges'] == " "].index

Int64Index([488, 753, 936, 1082, 1340, 3331, 3826, 4380, 5218, 6670, 6754], dtype='int64')

In [11]:
#here we can say that totalcharges have some balnk value in records
data.drop(data[data['TotalCharges'] == " "].index,inplace=True)

In [12]:
data[data['TotalCharges'] == " "].index

Int64Index([], dtype='int64')

In [15]:
#convert totalcharge into numeric
data.TotalCharges=pd.to_numeric(data.TotalCharges)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7032 non-null   object
 1   SeniorCitizen     7032 non-null   int64
 2   Partner           7032 non-null   object
 3   Dependents        7032 non-null   object
 4   tenure            7032 non-null   int64
 5   PhoneService      7032 non-null   object
 6   MultipleLines     7032 non-null   object
 7   InternetService   7032 non-null   object
 8   OnlineSecurity    7032 non-null   object
 9   OnlineBackup      7032 non-null   object
 10  DeviceProtection  7032 non-null   object
 11  TechSupport       7032 non-null   object
 12  StreamingTV       7032 non-null   object
 13  StreamingMovies   7032 non-null   object
 14  Contract          7032 non-null   object
 15  PaperlessBilling  7032 non-null   object
 16  PaymentMethod     7032 non-null   object
 17  MonthlyCharges    7032 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [17]:
#all the columns with unique value
for column in data:
    print(f'{column} : {data[column].unique()}')

gender : ['Female' 'Male']
SeniorCitizen : [0 1]
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService : ['No' 'Yes']
MultipleLines : ['No phone service' 'No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes' 'No internet service']
OnlineBackup : ['Yes' 'No' 'No internet service']
DeviceProtection : ['No' 'Yes' 'No internet service']
TechSupport : ['No' 'Yes' 'No internet service']
StreamingTV : ['No' 'Yes' 'No internet service']
StreamingMovies : ['No' 'Yes' 'No internet service']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges : [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn : ['No' 'Yes']

In [18]:
for column in data:
    if data[column].dtypes=='object':
         print(f'{column} : {data[column].unique()}')

gender : ['Female' 'Male']
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
PhoneService : ['No' 'Yes']
MultipleLines : ['No phone service' 'No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes' 'No internet service']
OnlineBackup : ['Yes' 'No' 'No internet service']
DeviceProtection : ['No' 'Yes' 'No internet service']
TechSupport : ['No' 'Yes' 'No internet service']
StreamingTV : ['No' 'Yes' 'No internet service']
StreamingMovies : ['No' 'Yes' 'No internet service']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn : ['No' 'Yes']

here no internet service means no so replace no internet service with no

In [19]:
data.replace('No internet service','No',inplace=True)

In [20]:
for column in data:
    if data[column].dtypes=='object':
         print(f'{column} : {data[column].unique()}')

gender : ['Female' 'Male']
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
PhoneService : ['No' 'Yes']
MultipleLines : ['No phone service' 'No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes']
OnlineBackup : ['Yes' 'No']
DeviceProtection : ['No' 'Yes']
TechSupport : ['No' 'Yes']
StreamingTV : ['No' 'Yes']
StreamingMovies : ['No' 'Yes']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn : ['No' 'Yes']

similarly replace no phone service with no

In [21]:
data.replace('No phone service','No',inplace=True)

In [22]:
data.MultipleLines.unique()

array(['No', 'Yes'], dtype=object)

In [23]:
#convert categorical value into numeric
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
data[['gender','Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']] = data[['gender','Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']].apply(labelencoder.fit_transform)

In [24]:
for column in data:
    print(f'{column}:{data[column].unique()}')

gender:[0 1]
SeniorCitizen:[0 1]
Partner:[1 0]
Dependents:[0 1]
tenure:[ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService:[0 1]
MultipleLines:[0 1]
InternetService:['DSL' 'Fiber optic' 'No']
OnlineSecurity:[0 1]
OnlineBackup:[1 0]
DeviceProtection:[0 1]
TechSupport:[0 1]
StreamingTV:[0 1]
StreamingMovies:[0 1]
Contract:['Month-to-month' 'One year' 'Two year']
PaperlessBilling:[1 0]
PaymentMethod:['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges:[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges:[  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn:['No' 'Yes']

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7032 non-null   int32
 1   SeniorCitizen     7032 non-null   int64
 2   Partner           7032 non-null   int32
 3   Dependents        7032 non-null   int32
 4   tenure            7032 non-null   int64
 5   PhoneService      7032 non-null   int32
 6   MultipleLines     7032 non-null   int32
 7   InternetService   7032 non-null   object
 8   OnlineSecurity    7032 non-null   int32
 9   OnlineBackup      7032 non-null   int32
 10  DeviceProtection  7032 non-null   int32
 11  TechSupport       7032 non-null   int32
 12  StreamingTV       7032 non-null   int32
 13  StreamingMovies   7032 non-null   int32
 14  Contract          7032 non-null   object
 15  PaperlessBilling  7032 non-null   int32
 16  PaymentMethod     7032 non-null   object
 17  MonthlyCharges    7032 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7032 non-null   object
dtypes: float64(2), int32(12), int64(2), object(4)
memory usage: 824.1+ KB

In [26]:
data=pd.get_dummies(data=data,columns=['InternetService','Contract','PaymentMethod'],drop_first=True)

In [27]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,MonthlyCharges,TotalCharges,Churn,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,0,0,1,0,...,29.85,29.85,No,0,0,0,0,0,1,0
1,1,0,0,0,34,1,0,1,0,1,...,56.95,1889.50,No,0,0,1,0,0,0,1
2,1,0,0,0,2,1,0,1,1,0,...,53.85,108.15,Yes,0,0,0,0,0,0,1
3,1,0,0,0,45,0,0,1,0,1,...,42.30,1840.75,No,0,0,1,0,0,0,0
4,0,0,0,0,2,1,0,0,0,0,...,70.70,151.65,Yes,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,1,1,0,1,...,84.80,1990.50,No,0,0,1,0,0,0,1
7039,0,0,1,1,72,1,1,0,1,1,...,103.20,7362.90,No,1,0,1,0,1,0,0
7040,0,0,1,1,11,0,0,1,0,0,...,29.60,346.45,No,0,0,0,0,0,1,0
7041,1,1,1,0,4,1,1,0,0,0,...,74.40,306.60,Yes,1,0,0,0,0,0,1
7042,1,0,0,0,66,1,0,1,0,1,...,105.65,6844.50,No,1,0,0,1,0,0,0

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   gender                                 7032 non-null   int32
 1   SeniorCitizen                          7032 non-null   int64
 2   Partner                                7032 non-null   int32
 3   Dependents                             7032 non-null   int32
 4   tenure                                 7032 non-null   int64
 5   PhoneService                           7032 non-null   int32
 6   MultipleLines                          7032 non-null   int32
 7   OnlineSecurity                         7032 non-null   int32
 8   OnlineBackup                           7032 non-null   int32
 9   DeviceProtection                       7032 non-null   int32
 10  TechSupport                            7032 non-null   int32
 11  StreamingTV                            7032 non-null   int32
 12  StreamingMovies                        7032 non-null   int32
 13  PaperlessBilling                       7032 non-null   int32
 14  MonthlyCharges                         7032 non-null   float64
 15  TotalCharges                           7032 non-null   float64
 16  Churn                                  7032 non-null   object
 17  InternetService_Fiber optic            7032 non-null   uint8
 18  InternetService_No                     7032 non-null   uint8
 19  Contract_One year                      7032 non-null   uint8
 20  Contract_Two year                      7032 non-null   uint8
 21  PaymentMethod_Credit card (automatic)  7032 non-null   uint8
 22  PaymentMethod_Electronic check         7032 non-null   uint8
 23  PaymentMethod_Mailed check             7032 non-null   uint8
dtypes: float64(2), int32(12), int64(2), object(1), uint8(7)
memory usage: 707.3+ KB

In [29]:
data['Churn']=labelencoder.fit_transform(data['Churn'])

In [30]:
data.Churn.unique()

array([0, 1])

In [31]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,MonthlyCharges,TotalCharges,Churn,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,0,0,1,0,...,29.85,29.85,0,0,0,0,0,0,1,0
1,1,0,0,0,34,1,0,1,0,1,...,56.95,1889.50,0,0,0,1,0,0,0,1
2,1,0,0,0,2,1,0,1,1,0,...,53.85,108.15,1,0,0,0,0,0,0,1
3,1,0,0,0,45,0,0,1,0,1,...,42.30,1840.75,0,0,0,1,0,0,0,0
4,0,0,0,0,2,1,0,0,0,0,...,70.70,151.65,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,1,1,0,1,...,84.80,1990.50,0,0,0,1,0,0,0,1
7039,0,0,1,1,72,1,1,0,1,1,...,103.20,7362.90,0,1,0,1,0,1,0,0
7040,0,0,1,1,11,0,0,1,0,0,...,29.60,346.45,0,0,0,0,0,0,1,0
7041,1,1,1,0,4,1,1,0,0,0,...,74.40,306.60,1,1,0,0,0,0,0,1
7042,1,0,0,0,66,1,0,1,0,1,...,105.65,6844.50,0,1,0,0,1,0,0,0

In [32]:
#scalling
from sklearn.preprocessing import MinMaxScaler
model = MinMaxScaler()
data[['tenure','MonthlyCharges','TotalCharges']]=model.fit_transform(data[['tenure','MonthlyCharges','TotalCharges']])

In [33]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,MonthlyCharges,TotalCharges,Churn,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,0.000000,0,0,0,1,0,...,0.115423,0.001275,0,0,0,0,0,0,1,0
1,1,0,0,0,0.464789,1,0,1,0,1,...,0.385075,0.215867,0,0,0,1,0,0,0,1
2,1,0,0,0,0.014085,1,0,1,1,0,...,0.354229,0.010310,1,0,0,0,0,0,0,1
3,1,0,0,0,0.619718,0,0,1,0,1,...,0.239303,0.210241,0,0,0,1,0,0,0,0
4,0,0,0,0,0.014085,1,0,0,0,0,...,0.521891,0.015330,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,0.323944,1,1,1,0,1,...,0.662189,0.227521,0,0,0,1,0,0,0,1
7039,0,0,1,1,1.000000,1,1,0,1,1,...,0.845274,0.847461,0,1,0,1,0,1,0,0
7040,0,0,1,1,0.140845,0,0,1,0,0,...,0.112935,0.037809,0,0,0,0,0,0,1,0
7041,1,1,1,0,0.042254,1,1,0,0,0,...,0.558706,0.033210,1,1,0,0,0,0,0,1
7042,1,0,0,0,0.915493,1,0,1,0,1,...,0.869652,0.787641,0,1,0,0,1,0,0,0

In [34]:
#dependent and independent data
x=data.drop(['Churn'],axis='columns')
y=data['Churn']

In [49]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=5)

In [50]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Dense

In [56]:
x_train.shape

(4922, 23)

In [60]:
#create ANN ,initializing model
classifier = keras.Sequential()
#adding inputlayer,here we have 24 columns as a feature
classifier.add(Dense(units=20,activation="relu",input_shape=(23,)))
#add secound layer
classifier.add(Dense(units=15,activation='relu'))
#add another hidden layer
classifier.add(Dense(units=10,activation="relu"))
classifier.add(Dense(units=1,activation="sigmoid"))

In [61]:
#train model
classifier.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [68]:
model = classifier.fit(x_train,y_train,validation_split=0.33,epochs=100)

Epoch 1/100
104/104 [==============================] - 0s 5ms/step - loss: 0.3216 - accuracy: 0.8547 - val_loss: 0.4943 - val_accuracy: 0.7951
Epoch 2/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3182 - accuracy: 0.8611 - val_loss: 0.4925 - val_accuracy: 0.7945
Epoch 3/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3199 - accuracy: 0.8556 - val_loss: 0.4873 - val_accuracy: 0.7883
Epoch 4/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3209 - accuracy: 0.8532 - val_loss: 0.4870 - val_accuracy: 0.7871
Epoch 5/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3164 - accuracy: 0.8587 - val_loss: 0.4862 - val_accuracy: 0.7932
Epoch 6/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3157 - accuracy: 0.8593 - val_loss: 0.4868 - val_accuracy: 0.7895
Epoch 7/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3147 - accuracy: 0.8614 - val_loss: 0.4957 - val_accuracy: 0.7902
Epoch 8/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3382 - accuracy: 0.8411 - val_loss: 0.4897 - val_accuracy: 0.7791
Epoch 9/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3206 - accuracy: 0.8556 - val_loss: 0.4920 - val_accuracy: 0.7858
Epoch 10/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3157 - accuracy: 0.8574 - val_loss: 0.4884 - val_accuracy: 0.7932
Epoch 11/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3128 - accuracy: 0.8596 - val_loss: 0.4910 - val_accuracy: 0.7889
Epoch 12/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3142 - accuracy: 0.8626 - val_loss: 0.4919 - val_accuracy: 0.7865
Epoch 13/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3103 - accuracy: 0.8605 - val_loss: 0.4918 - val_accuracy: 0.7846
Epoch 14/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3111 - accuracy: 0.8647 - val_loss: 0.5106 - val_accuracy: 0.7920
Epoch 15/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3112 - accuracy: 0.8620 - val_loss: 0.5086 - val_accuracy: 0.7840
Epoch 16/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3213 - accuracy: 0.8556 - val_loss: 0.5085 - val_accuracy: 0.7803
Epoch 17/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3150 - accuracy: 0.8568 - val_loss: 0.5020 - val_accuracy: 0.7871
Epoch 18/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3083 - accuracy: 0.8629 - val_loss: 0.5043 - val_accuracy: 0.7883
Epoch 19/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3089 - accuracy: 0.8635 - val_loss: 0.5093 - val_accuracy: 0.7852
Epoch 20/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3073 - accuracy: 0.8623 - val_loss: 0.5030 - val_accuracy: 0.7895
Epoch 21/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3209 - accuracy: 0.8532 - val_loss: 0.5103 - val_accuracy: 0.7877
Epoch 22/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3209 - accuracy: 0.8581 - val_loss: 0.5041 - val_accuracy: 0.7889
Epoch 23/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3092 - accuracy: 0.8611 - val_loss: 0.5105 - val_accuracy: 0.7852
Epoch 24/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3052 - accuracy: 0.8620 - val_loss: 0.5065 - val_accuracy: 0.7822
Epoch 25/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3064 - accuracy: 0.8620 - val_loss: 0.5070 - val_accuracy: 0.7889
Epoch 26/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3034 - accuracy: 0.8684 - val_loss: 0.4993 - val_accuracy: 0.7871
Epoch 27/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3025 - accuracy: 0.8656 - val_loss: 0.5193 - val_accuracy: 0.7926
Epoch 28/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3026 - accuracy: 0.8668 - val_loss: 0.5137 - val_accuracy: 0.7895
Epoch 29/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3016 - accuracy: 0.8702 - val_loss: 0.5171 - val_accuracy: 0.7828
Epoch 30/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3302 - accuracy: 0.8502 - val_loss: 0.5109 - val_accuracy: 0.7871
Epoch 31/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3034 - accuracy: 0.8684 - val_loss: 0.5087 - val_accuracy: 0.7883
Epoch 32/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3013 - accuracy: 0.8635 - val_loss: 0.5173 - val_accuracy: 0.7920
Epoch 33/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2999 - accuracy: 0.8659 - val_loss: 0.5142 - val_accuracy: 0.7846
Epoch 34/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3043 - accuracy: 0.8659 - val_loss: 0.5188 - val_accuracy: 0.7926
Epoch 35/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3008 - accuracy: 0.8656 - val_loss: 0.5197 - val_accuracy: 0.7908
Epoch 36/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2985 - accuracy: 0.8672 - val_loss: 0.5204 - val_accuracy: 0.7822
Epoch 37/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2978 - accuracy: 0.8702 - val_loss: 0.5207 - val_accuracy: 0.7840
Epoch 38/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2962 - accuracy: 0.8693 - val_loss: 0.5192 - val_accuracy: 0.7914
Epoch 39/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2965 - accuracy: 0.8687 - val_loss: 0.5266 - val_accuracy: 0.7809
Epoch 40/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2973 - accuracy: 0.8699 - val_loss: 0.5273 - val_accuracy: 0.7889
Epoch 41/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2954 - accuracy: 0.8693 - val_loss: 0.5272 - val_accuracy: 0.7840
Epoch 42/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2992 - accuracy: 0.8705 - val_loss: 0.5201 - val_accuracy: 0.7852
Epoch 43/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2975 - accuracy: 0.8690 - val_loss: 0.5271 - val_accuracy: 0.7852
Epoch 44/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2973 - accuracy: 0.8681 - val_loss: 0.5256 - val_accuracy: 0.7858
Epoch 45/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2940 - accuracy: 0.8708 - val_loss: 0.5271 - val_accuracy: 0.7852
Epoch 46/100
104/104 [==============================] - 0s 3ms/step - loss: 0.3009 - accuracy: 0.8650 - val_loss: 0.5271 - val_accuracy: 0.7871
Epoch 47/100
104/104 [==============================] - 1s 6ms/step - loss: 0.2987 - accuracy: 0.8662 - val_loss: 0.5171 - val_accuracy: 0.7920
Epoch 48/100
104/104 [==============================] - 0s 5ms/step - loss: 0.2932 - accuracy: 0.8720 - val_loss: 0.5184 - val_accuracy: 0.7889
Epoch 49/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2952 - accuracy: 0.8702 - val_loss: 0.5226 - val_accuracy: 0.7883
Epoch 50/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2936 - accuracy: 0.8717 - val_loss: 0.5347 - val_accuracy: 0.7889
Epoch 51/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2902 - accuracy: 0.8732 - val_loss: 0.5297 - val_accuracy: 0.7822
Epoch 52/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2939 - accuracy: 0.8729 - val_loss: 0.5280 - val_accuracy: 0.7877
Epoch 53/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2902 - accuracy: 0.8732 - val_loss: 0.5476 - val_accuracy: 0.7914
Epoch 54/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2922 - accuracy: 0.8726 - val_loss: 0.5424 - val_accuracy: 0.7883
Epoch 55/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2890 - accuracy: 0.8723 - val_loss: 0.5357 - val_accuracy: 0.7895
Epoch 56/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2913 - accuracy: 0.8708 - val_loss: 0.5392 - val_accuracy: 0.7858
Epoch 57/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2889 - accuracy: 0.8735 - val_loss: 0.5404 - val_accuracy: 0.7852
Epoch 58/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2917 - accuracy: 0.8696 - val_loss: 0.5447 - val_accuracy: 0.7877
Epoch 59/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2890 - accuracy: 0.8714 - val_loss: 0.5392 - val_accuracy: 0.7852
Epoch 60/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2897 - accuracy: 0.8729 - val_loss: 0.5453 - val_accuracy: 0.7908
Epoch 61/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2895 - accuracy: 0.8687 - val_loss: 0.5485 - val_accuracy: 0.7815
Epoch 62/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2884 - accuracy: 0.8717 - val_loss: 0.5535 - val_accuracy: 0.7840
Epoch 63/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2892 - accuracy: 0.8699 - val_loss: 0.5483 - val_accuracy: 0.7828
Epoch 64/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2878 - accuracy: 0.8753 - val_loss: 0.5597 - val_accuracy: 0.7852
Epoch 65/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2851 - accuracy: 0.8744 - val_loss: 0.5408 - val_accuracy: 0.7840
Epoch 66/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2874 - accuracy: 0.8729 - val_loss: 0.5442 - val_accuracy: 0.7889
Epoch 67/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2860 - accuracy: 0.8750 - val_loss: 0.5482 - val_accuracy: 0.7840
Epoch 68/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2846 - accuracy: 0.8741 - val_loss: 0.5505 - val_accuracy: 0.7883
Epoch 69/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2962 - accuracy: 0.8611 - val_loss: 0.5616 - val_accuracy: 0.7822
Epoch 70/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2856 - accuracy: 0.8735 - val_loss: 0.5765 - val_accuracy: 0.7803
Epoch 71/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2856 - accuracy: 0.8726 - val_loss: 0.5509 - val_accuracy: 0.7834
Epoch 72/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2835 - accuracy: 0.8753 - val_loss: 0.5650 - val_accuracy: 0.7803
Epoch 73/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2848 - accuracy: 0.8756 - val_loss: 0.5531 - val_accuracy: 0.7846
Epoch 74/100
104/104 [==============================] - 0s 5ms/step - loss: 0.2824 - accuracy: 0.8744 - val_loss: 0.5632 - val_accuracy: 0.7834
Epoch 75/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2848 - accuracy: 0.8753 - val_loss: 0.5551 - val_accuracy: 0.7809
Epoch 76/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2884 - accuracy: 0.8735 - val_loss: 0.5760 - val_accuracy: 0.7785
Epoch 77/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2859 - accuracy: 0.8726 - val_loss: 0.5572 - val_accuracy: 0.7846
Epoch 78/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2810 - accuracy: 0.8766 - val_loss: 0.5719 - val_accuracy: 0.7840
Epoch 79/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2822 - accuracy: 0.8753 - val_loss: 0.5564 - val_accuracy: 0.7791
Epoch 80/100
104/104 [==============================] - 0s 5ms/step - loss: 0.3057 - accuracy: 0.8611 - val_loss: 0.5548 - val_accuracy: 0.7809
Epoch 81/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2831 - accuracy: 0.8778 - val_loss: 0.5532 - val_accuracy: 0.7803
Epoch 82/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2850 - accuracy: 0.8747 - val_loss: 0.5642 - val_accuracy: 0.7797
Epoch 83/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2812 - accuracy: 0.8772 - val_loss: 0.5754 - val_accuracy: 0.7840
Epoch 84/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2782 - accuracy: 0.8775 - val_loss: 0.5666 - val_accuracy: 0.7809
Epoch 85/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2773 - accuracy: 0.8787 - val_loss: 0.5836 - val_accuracy: 0.7846
Epoch 86/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2790 - accuracy: 0.8729 - val_loss: 0.5698 - val_accuracy: 0.7846
Epoch 87/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2828 - accuracy: 0.8769 - val_loss: 0.5750 - val_accuracy: 0.7803
Epoch 88/100
104/104 [==============================] - 0s 4ms/step - loss: 0.3187 - accuracy: 0.8593 - val_loss: 0.5741 - val_accuracy: 0.7785
Epoch 89/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2839 - accuracy: 0.8726 - val_loss: 0.5685 - val_accuracy: 0.7778
Epoch 90/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2875 - accuracy: 0.8714 - val_loss: 0.5703 - val_accuracy: 0.7797
Epoch 91/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2782 - accuracy: 0.8772 - val_loss: 0.5692 - val_accuracy: 0.7834
Epoch 92/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2771 - accuracy: 0.8772 - val_loss: 0.5787 - val_accuracy: 0.7828
Epoch 93/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2755 - accuracy: 0.8793 - val_loss: 0.5781 - val_accuracy: 0.7871
Epoch 94/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2745 - accuracy: 0.8784 - val_loss: 0.5700 - val_accuracy: 0.7834
Epoch 95/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2758 - accuracy: 0.8793 - val_loss: 0.5870 - val_accuracy: 0.7717
Epoch 96/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2777 - accuracy: 0.8808 - val_loss: 0.5696 - val_accuracy: 0.7846
Epoch 97/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2767 - accuracy: 0.8805 - val_loss: 0.5738 - val_accuracy: 0.7797
Epoch 98/100
104/104 [==============================] - 0s 3ms/step - loss: 0.2752 - accuracy: 0.8790 - val_loss: 0.5902 - val_accuracy: 0.7815
Epoch 99/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2724 - accuracy: 0.8796 - val_loss: 0.5796 - val_accuracy: 0.7822
Epoch 100/100
104/104 [==============================] - 0s 4ms/step - loss: 0.2720 - accuracy: 0.8802 - val_loss: 0.5707 - val_accuracy: 0.7809

In [76]:
#evalute model 
classifier.evaluate(x_test,y_test)

66/66 [==============================] - 0s 2ms/step - loss: 0.6063 - accuracy: 0.7536

[0.6062821745872498, 0.7535545229911804]

In [78]:
y_pred = classifier.predict(x_test)
y_pred

66/66 [==============================] - 0s 2ms/step

array([[4.5925356e-02],
       [1.1071949e-01],
       [6.0246843e-03],
       ...,
       [8.2875643e-04],
       [9.6217775e-01],
       [1.8372636e-02]], dtype=float32)

here, problem is we get two dimension array so we need to convert it into one dimenstion array.

and in y_test we have o and 1 only so we need to convert y_pred into one dimention

if y_pred > 0.5 then convert it into 1 other wise convert it into 0

In [81]:
yp= []
for i in y_pred:
    if i > 0.5:
        yp.append(1)
    else:
        yp.append(0)

In [83]:
yp[:5]

[0, 0, 0, 1, 1]

In [84]:
y_test[:5]

2660    0
744     0
5579    1
64      1
3287    1
Name: Churn, dtype: int32

In [89]:
#confussion_matrix,classification_repot
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print(classification_report(yp,y_test))

              precision    recall  f1-score   support

           0       0.85      0.81      0.83      1575
           1       0.51      0.57      0.54       535

    accuracy                           0.75      2110
   macro avg       0.68      0.69      0.69      2110
weighted avg       0.76      0.75      0.76      2110

In [90]:
accuracy_score(y_test,yp)

0.7535545023696683