# list of programs

1.write a program to perform additionof two number.

In [31]:
num1 = int(input("enter first number"))
num2 = int(input("enter secound number"))
sum = num1 +num2
print(sum)

enter first number3
enter secound number6
9

2.write a program to perform subtraction of two number.

In [33]:
num1 = int(input("enter first number"))
num2 = int(input("enter secound number"))
sub = num1 - num2
print(sub)

enter first number10
enter secound number5
5

3.write a program to perform multiplication of two number.

In [37]:
num1 = int(input("enter first number"))
num2 = int(input("enter secound number"))
mul = num1 * num2
print(mul)

enter first number7
enter secound number8
56

4.write a program to perform  of division two number.

In [38]:
num1 = int(input("enter first number"))
num2 = int(input("enter secound number"))
div = num1 / num2
print(div)

enter first number10
enter secound number5
2.0

5.write a program to perform  of modulo opration.

In [39]:
num1 = int(input("enter first number"))
num2 = int(input("enter secound number"))
module = num1 % num2
print(module)

enter first number10
enter secound number5
0

6.write a program to explain ternary opration

In [43]:
check=7
msg = "even" if check%2 == 0 else "odd"
print(msg)

odd

7. simple program using increment and decrement oprator

# program if statement

8.write a program to accept two integers and check wheather they are equal or not

In [45]:
num1 = input("enter a first number")
num2 = input("enter a secound number")
if num1==num2:
    print("equal")
else:
    print("not qual")

enter a first number5
enter a secound number8
not qual

10.write a program to check wheather a given number is positive or negative.

10.write a

program to check wheather a given year  is leap year or not.

In [48]:
year = int(input("enter a year"))
if(year%4==0 and year%100 != 0 or year%400==0):
    print("leap year")
else:
    print("not leap year")

enter a year2016
leap year

# Programs on loop

18.Write program to find the sum of first 10 natural numbers

In [14]:
sum=0
for i in range(0,10):
    sum=sum+i
print(sum)

45

19.write a program to check wheather given number is positive or negative

In [16]:
num = int(input("enter a number"))
if num>0:
    print("positive")
else:
    print("negative")

enter a number-5
negative

20.cube

In [19]:
n=int(input("enter a number of terms"))
for i in range(1,n+1):
    cube = i*i*i
    print(cube)

enter a number of terms5
1
8
27
64
125

21 .write program to display the multiplication tablle of given integer.

In [23]:
number = int(input("enter a number"))
for i in range(1,11):
    ans=number*i
    print(number,"*",i,"=",ans)

enter a number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

22.write a program for calculate factorial of the given number

In [26]:
num = int(input("enter number for factorial  "))
fact = 1
for i in range(1,n+1):
    fact = fact *i
print("factorial of ",num ,"is",fact)

enter number for factorial  5
factorial of  5 is 120

23 . write a program to display the terms of even natural number and their sum.

In [30]:
num = int(input("enter the numer of terms"))
sum=0
for i in range(0,num+1,2):
    print(i)
    sum=sum+i
print("there sum is:",sum)

enter the numer of terms10
0
2
4
6
8
10
there sum is: 30

write a programt to find a sum of digit in given number

123 = 1+2+3=6

In [9]:
n=input("enter a number")
sum=0
for i in n:
    sum=sum+int(i)
print(sum)

enter a number5555
20

24.Python program to count vowels and consonants in the string

In [3]:
string = input("enter a string")
vowel=0
list=['a','e','i','o','u']
constant = 0
for i in string:
    if i in list:
        vowel=vowel+1
    else:
        constant += 1
print("vowel",vowel,"constant",constant)

enter a stringneel
vowel 2 constant 2

25.Python program to find smallest number among three

In [5]:
n1 = 5
n2 = 10
n3 = 15
 
mx = (n1 if (n1 > n2 and n1 > n3) else
     (n2 if (n2 > n1 and n2 > n3) else n3))

max = (n1 if (n1>n2 and n1>n3)else 
       (n2 if (n2>n1 and n2>n3) else n3))
print("maximum is",max)

maximum is 15

In [11]:
a = int(input("Enter the value for a :"))
b = int(input("Enter the value for b :"))
c = int(input("Enter the value for c :"))
#comparing integer ‘a’ with other two integer
if a<=b and a<=c:
    print("a is smallest")
#comparing integer ‘b’ with other two integer
elif b<=a and b<=c:
    print("b is smallest")
#comparing integer ‘c’ with other two integer
elif c<=a and c<=b:
    print("c is smallest")

Enter the value for a :45
Enter the value for b :6
Enter the value for c :23
b is smallest

In [1]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

26.Python program to swap two variables

In [2]:
a=9
b=10
a,b=b,a
print(a)
print(b)

10
9

27.Python Program to Generate a Random Number

In [15]:
import random
x=random.random()
print(x)

0.5150902218477125

28.Python program to convert Celsius to Fahrenheit

T(°Fahrenheit)=(T(°Celsius)*1.8)+32

In [1]:
celsius = float(input("enter tempreture in celscfous"))
fah_ = (celsius * 1.8) + 32
print(fah_)

enter tempreture in celscfous7
44.6

29.Python program to display calendar

In [4]:
import calendar
yy = int(input("Enter year: "))  
mm = int(input("Enter month: "))  
print(calendar.month(yy,mm))

Enter year: 2023
Enter month: 5
      May 2023
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

# Logical question

1. input= "sky is blue"
   output = "blue is sky"

In [3]:
string = "sky is blue"
str1 = string.split()
reverse = str1[::-1]
str2=" ".join(reverse)
print(str2)

blue is sky

In [6]:
#in one line
str1 = " ".join(string.split()[::-1])
print(str1)

blue is sky

2.
input = [1,2,2,3,3,4,5,5,5,6,6]
output : [1,4]

In [9]:
list1 = [1,2,3,2,3,3,4,5,5,5,6,6] 
newlist = []
for i in list1:
    if list1.count(i)==1:
        newlist.append(i)
print(newlist)

[1, 4]

3.mtstr="a,a,b,b,b,c,c,c,c"
output = a:2,b:3,c:4

In [24]:
mystr = "a,a,b,b,b,c,c,c,c"
mylist = mystr.split(",")
visit = []
for i in mylist:
    if i not in visit:
        print(f"{i}:{mylist.count(i)}",end=",")
        visit.append(i)

a:2,b:3,c:4,

In [12]:
#4.write a program to reverse a number
n = int(input("enter a number : "))
newlist=[]
reverse=[]
for i in str(n):
    newlist.append(i)
reverse = newlist[::-1]
print(reverse)
print("".join(reverse))

enter a number : 789
['9', '8', '7']
987

5.Python program to check given number is prime or not

In [25]:
i,temp=0,0
n = int(input("please give a number : "))
for i in range(2,n):
    if n%i == 0:
        temp=1
        break
if temp == 1:
    print("given number is not prime")
else:
    print("given number is prime")

please give a number : 29
given number is prime

In [19]:
7//2

3